<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <title>Poll</title>
  </head>
  <body>
  <div>

  </div>
  <footer>
          <div class="centar">
                      <a href="http://www.tvojsajt.com/">Izrada sajta TvojSajt.com</a>.
          </div>
  </footer><!-- /#footer -->
  </body>
</html>
