
      <% if (isLogged){ %>


<ul>
  <li><a href= "/">Pollz</a></li>
<li><a href= "mypolls">My polls</a></li>
<li><a href= "newpoll">New poll</a></li>
<li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn"><%- currentUser %></a>
    <div class="dropdown-content">
      <form action="/logout"><input type="submit" value = "Logout"></form>
    </div>
    </li>
</ul>

        <% } else { %>
          <ul>
          <li><a href= "/">Pollz</a></li>
        <li><a href="/login/facebook">Log in with Facebook</a></li>
         </ul>

      <% } %>
